aside{
    display: flex;
    flex-direction: row;
    float: right;
    width: 84.9%;

    table{
        border: 5px solid black;
        block-size: 880px;
        padding-right: 1381px;

        tr, td{
            border: 1px solid black;
            padding: 2% 10px;
            block-size: auto;
        }
    }
}