*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: bisque;
    block-size: 64px;
    border-bottom: 1px solid black; 

    #left_header{
        display: flex;
        flex-direction: row;
        background-color: bisque;
        margin-right: auto;

        #icon_calendar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40px;
            padding-top: 10.5px;
            padding-bottom: 13px;
            padding-right: 10px;
            padding-left: 10px;
        }

        #logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 4px;
        }
    }

    #right_header{
        display: flex;
        flex-direction: row;
        background-color: bisque;
        margin-left: auto;

        #icon_user{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40px;
            padding-top: 10.5px;
            padding-bottom: 13px;
            padding-right: 8px;
            padding-left: 10px;
        }
    }
}